*/obj/
utils/*/obj/
utils/lib
*_Dict.cxx
*_Dict.h
RootCore
SFrame
cf.root
*.pyc
jo.*.xml
*.root
lib/*
LSF*/
*_C.d
core.*
LatestRunDir_*
Next*Dir*
*.bak
HistFitter/*
BMinusLAnalysis/BMinusLAnalysis
EwkAnalysis/EwkAnalysis
ProgressBar/TestProgressBar
BMinusLAnalysis/RunScripts/tnt_106/RunBMinusLAnalysis_lxplus_tnt_106_multiprocess.test.py
