# hist: actual_int_per_crossing
#     var:    actual_int_per_crossing
#     x_bins: 50
#     x_min:  0
#     x_max:  50.
#     title:  actual interactions per crossing
#     x_axis: actual interactions per crossing
#     y_axis: Entries/1
# end
# 
# hist: average_int_per_crossing
#     var:    average_int_per_crossing
#     x_bins: 50
#     x_min:  0
#     x_max:  50.
#     title:  average interactions per crossing
#     x_axis: average interactions per crossing
#     y_axis: Entries/1
# end

hist: mll
    var:    mll/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{ll}
    x_axis: m_{ll} [GeV]
    y_axis: Entries/5 GeV
end

hist: mt2
    var:    mt2/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{T2}
    x_axis: m_{T2} [GeV]
    y_axis: Entries/5 GeV
end

hist: mt
    var:    mt/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{T}
    x_axis: m_{T} [GeV]
    y_axis: Entries/5 GeV
end

hist: meff
    var:    meff/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{eff}
    x_axis: m_{eff} [GeV]
    y_axis: Entries/5 GeV
end

hist: met_over_meff
    var:    met_et/meff
    x_bins: 20
    x_min:  0
    x_max:  2.
    title:  E_{T}^{miss}/m_{eff}
    x_axis: E_{T}^{miss}/m_{eff}
    y_axis: Entries/0.1
end

hist: ptll
    var:    ptll/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  p_{T}^{ll}
    x_axis: p_{T}^{ll} [GeV]
    y_axis: Entries/5 GeV
end

hist: met
    var:    met_et/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  E_{T}^{miss}
    x_axis: E_{T}^{miss} [GeV]
    y_axis: Entries/5 GeV
end

hist: met_rel
    var:    met_rel_et/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  E_{T}^{miss, rel}
    x_axis: E_{T}^{miss, rel} [GeV]
    y_axis: Entries/5 GeV
end

hist: el_0_mt
    var:    el_mt[0]/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{T}^{e, leading}
    x_axis: m_{T}^{e, leading} [GeV]
    y_axis: Entries/5 GeV
end

hist: el_1_mt
    var:    el_mt[1]/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  m_{T}^{e, sub-leading}
    x_axis: m_{T}^{e, sub-leading} [GeV]
    y_axis: Entries/5 GeV
end

hist: el_0_pt
    var:    el_pt[0]/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  p_{T}^{e, leading}
    x_axis: p_{T}^{e, leading} [GeV]
    y_axis: Entries/5 GeV
end

hist: el_1_pt
    var:    el_pt[1]/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  p_{T}^{e, sub-leading}
    x_axis: p_{T}^{e, sub-leading} [GeV]
    y_axis: Entries/5 GeV
end

hist: el_0_d0
    var:    el_d0[0]
    x_bins: 40
    x_min:  -10.
    x_max:  +10.
    title:  d_{0}^{e, leading}
    x_axis: d_{0}^{e, leading} [mm]
    y_axis: Entries/0.5 mm
end

hist: el_1_d0
    var:    el_d0[1]
    x_bins: 40
    x_min:  -10.
    x_max:  +10.
    title:  d_{0}^{e, sub-leading}
    x_axis: d_{0}^{e, sub-leading} [mm]
    y_axis: Entries/0.5 mm
end

hist: el_d0
    var:    el_d0
    x_bins: 40
    x_min:  -10.
    x_max:  +10.
    title:  d_{0}^{e}
    x_axis: d_{0}^{e} [mm]
    y_axis: Entries/0.5 mm
end

hist: el_0_d0_sig
    var:    abs(el_d0_sig[0])
    x_bins: 20
    x_min:  0.
    x_max:  +10.
    title:  d_{0}^{e, leading} significance
    x_axis: |d_{0}^{e, leading}|/\sigma(d_{0})
    y_axis: Entries/0.5
end

hist: el_1_d0_sig
    var:    abs(el_d0_sig[1])
    x_bins: 20
    x_min:  0.
    x_max:  +10.
    title:  d_{0}^{e, sub-leading} significance
    x_axis: |d_{0}^{e, sub-leading}|/\sigma(d_{0})
    y_axis: Entries/0.5
end

hist: el_d0_sig
    var:    abs(el_d0_sig)
    x_bins: 20
    x_min:  0.
    x_max:  +10.
    title:  d_{0}^{e} significance
    x_axis: |d_{0}^{e}|/\sigma(d_{0})
    y_axis: Entries/0.5
end

hist: dphi_met_ll
  var:    cos(dphi_met_ll)
  x_bins: 20
  x_min:  -1
  x_max:  +1
  title:  \delta\phi(E_{T}^{miss}, ll)
  x_axis: \delta\phi(E_{T}^{miss}, ll)
  y_axis: Entries
end

hist: dphi_jet_ll
  var:    cos(light_jet_dphi_ll)
  x_bins: 20
  x_min:  -1
  x_max:  +1
  title:  \delta\phi(jet, ll)
  x_axis: \delta\phi(jet, ll)
  y_axis: Entries
end

hist: dphi_met_jet
  var:    cos(light_jet_dphi_met)
  x_bins: 20
  x_min:  -1
  x_max:  +1
  title:  \delta\phi(E_{T}^{miss}, jet)
  x_axis: \delta\phi(E_{T}^{miss}, jet)
  y_axis: Entries/0.1
end

hist: num_l_jets
  var:    light_jet_num_light_jets
  x_bins: 10
  x_min:  0
  x_max:  10
  title:  Number Light Jets
  x_axis: Number Light Jets
  y_axis: Entries
end

hist: num_b_jets
  var:    light_jet_num_b_jets
  x_bins: 10
  x_min:  0
  x_max:  10
  title:  Number B Jets
  x_axis: Number B Jets
  y_axis: Entries
end

hist: num_f_jets
  var:    light_jet_num_forward_jets
  x_bins: 10
  x_min:  0
  x_max:  10
  title:  Number Forward Jets
  x_axis: Number Forward Jets
  y_axis: Entries
end

hist: l_jet_pt
    var:    light_jet_pt/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  p_{T}^{jet}
    x_axis: p_{T}^{jet} [GeV]
    y_axis: Entries/5 GeV
    # hist_cut: ((jet_desc & 16) == 16)
    # hist_cut: (((jet_desc & 7168) == 7168)&&((!jet_desc & 512) != 512))
end

hist: l_jet_0_pt
    var:    light_jet_pt[0]/1000.
    x_bins: 100
    x_min:  0
    x_max:  500.
    title:  p_{T}^{jet, leading}
    x_axis: p_{T}^{jet, leading} [GeV]
    y_axis: Entries/5 GeV
end

hist: l_jet_eta
    var:    light_jet_eta
    x_bins: 50
    x_min:  -5.
    x_max:  +5.
    title:  \eta^{jet}
    x_axis: \eta^{jet}
    y_axis: Entries
    # hist_cut: ((jet_desc & 16) == 16)
    # hist_cut: (((jet_desc & 7168) == 7168)&&((!jet_desc & 512) != 512))
end

hist: l_jet_0_eta
    var:    light_jet_eta[0]
    x_bins: 50
    x_min:  -5.
    x_max:  +5.
    title:  \eta^{\jet, leading}
    x_axis: \eta^{\jet, leading} [GeV]
    y_axis: Entries
end

hist: l_jet_jvf
    var:    light_jet_jvf
    x_bins: 20
    x_min:  -1.
    x_max:  +1.
    title:  jvf^{jet}
    x_axis: jvf^{jet}
    y_axis: Entries
    # hist_cut: ((jet_desc & 16) == 16)
    # hist_cut: (((jet_desc & 7168) == 7168)&&((!jet_desc & 512) != 512))
end

hist: l_jet_0_jvf
    var:    light_jet_jvf[0]
    x_bins: 20
    x_min:  -1.
    x_max:  +1.
    title:  jvf^{jet, leading}
    x_axis: jvf^{jet, leading} [GeV]
    y_axis: Entries
end

# hist: l_jet_desc
#     var:    (light_jet_desc & 511)
#     x_bins: 512
#     x_min:  0
#     x_max:  512
#     title:  desc^{jet}
#     x_axis: desc^{jet}
#     y_axis: Entries
#     # hist_cut: ((jet_desc & 16) == 16)
#     # hist_cut: (((jet_desc & 7168) == 7168)&&((!jet_desc & 512) != 512))
# end
# 
# hist: l_jet_0_desc
#     var:    light_jet_desc[0]
#     x_bins: 20
#     x_min:  -1.
#     x_max:  +1.
#     title:  desc^{jet, leading}
#     x_axis: desc^{jet, leading} [GeV]
#     y_axis: Entries
# end

hist: dphi_ll
  var:    abs(el_phi[0]-el_phi[1])/3.14159
  x_bins: 10
  x_min:  0
  x_max:  +1
  title:  |\delta\phi^{ll} / \pi|
  x_axis: |\delta\phi^{ll} / \pi|
  y_axis: Entries/0.1
end
