cut: bad_jets
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 0
    pass_primary_vertex:    0
    pass_bad_muons:         0
    pass_cosmic_muons:      0
    pass_hfor:              0
    pass_ge_2_good_leptons: 0
    pass_2_good_leptons:    0
    pass_mll:               0
    pass_trigger_match:     0
    pass_flavor:            none
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_sr1:  0
    pass_sr2:  0
    pass_sr3:  0
    pass_sr4a: 0
    pass_sr4b: 0
end
