cut: ee_sr_ss__sample0.ss_base_selection
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_tile_trip:         1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_trigger_match:     1
    pass_flavor:            ee
    pass_ee_trigger:        1
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_sr_ssjets:  0

    pass_l_jet_veto: 0
    pass_b_jet_veto: 0
    pass_f_jet_veto: 0
    pass_z_veto:     0
    pass_top_veto:   0
    # pass_sr_ssjets_met:    0

    pass_sign_channel: ss

    b_tag_weight: 0
end

# cut: ee_sr_ss__sample1.bfjet_veto
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
#     # pass_sr_ssjets_met:    0
# 
#     pass_sign_channel: ss
# end
# 
# cut: ee_sr_ss__sample2.SS_preMt
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
#     # pass_sr_ssjets_met:    1
# 
#     pass_sign_channel: ss
# 
#     additional_cut: light_jet_num_light_jets >= 1
#     additional_cut: met_rel_et > 50e3
# end
# 
# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# cut: ee_sr_ss__sample3.SS_loose.metrel_40
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
# end
# 
# cut: ee_sr_ss__sample4.SS_loose.metrel_40.num_light_jet_ge_1
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets >= 1
# end
# 
# cut: ee_sr_ss__sample5.SS_loose.metrel_40.num_light_jet_eq_1
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets == 1
# end
# 
# cut: ee_sr_ss__sample6.SS_loose.metrel_40.num_light_jet_eq_0
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets == 0
# end
# 
# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# cut: ee_sr_ss__sample7.SS_loose.metrel_40.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample8.SS_loose.metrel_40.num_light_jet_ge_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets >= 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample9.SS_loose.metrel_40.num_light_jet_eq_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets == 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample10.SS_loose.metrel_40.num_light_jet_eq_0.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 40e3
#     additional_cut: light_jet_num_light_jets == 0
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# cut: ee_sr_ss__sample11.SS_loose.metrel_30.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 30e3
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample12.SS_loose.metrel_30.num_light_jet_ge_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 30e3
#     additional_cut: light_jet_num_light_jets >= 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample13.SS_loose.metrel_30.num_light_jet_eq_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 30e3
#     additional_cut: light_jet_num_light_jets == 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample14.SS_loose.metrel_30.num_light_jet_eq_0.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 30e3
#     additional_cut: light_jet_num_light_jets == 0
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# cut: ee_sr_ss__sample15.SS_loose.metrel_20.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 20e3
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample16.SS_loose.metrel_20.num_light_jet_ge_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 20e3
#     additional_cut: light_jet_num_light_jets >= 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample17.SS_loose.metrel_20.num_light_jet_eq_1.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 20e3
#     additional_cut: light_jet_num_light_jets == 1
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# cut: ee_sr_ss__sample18.SS_loose.metrel_20.num_light_jet_eq_0.mu_pt_15
#     pass_grl:               1
#     pass_incomplete_event:  1
#     pass_lar_error:         1
#     pass_tile_error:        1
#     pass_tile_hot_spot:     1
#     pass_tile_trip:         1
#     pass_bad_jets:          1
#     pass_calo_problem_jets: 1
#     pass_primary_vertex:    1
#     pass_bad_muons:         1
#     pass_cosmic_muons:      1
#     pass_hfor:              1
#     pass_ge_2_good_leptons: 1
#     pass_2_good_leptons:    1
#     pass_mll:               1
#     pass_trigger_match:     1
#     pass_flavor:            mm
#     pass_ee_trigger:        0
#     pass_mm_trigger:        1
#     pass_em_trigger:        0
#     pass_me_trigger:        0
# 
#     pass_sr_ssjets:  0
# 
#     pass_l_jet_veto: 0
#     pass_b_jet_veto: 1
#     pass_f_jet_veto: 1
#     pass_z_veto:     0
#     pass_top_veto:   0
# 
#     pass_sign_channel: ss
# 
#     additional_cut: met_rel_et > 20e3
#     additional_cut: light_jet_num_light_jets == 0
#     additional_cut: mu_pt[0] > 15e3
#     additional_cut: mu_pt[1] > 15e3
# end
# 
# # cut: ee_sr_ss__sample11.CR_SSjets
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt > 50e3
# # end
# # 
# # cut: ee_sr_ss__sample12.SR_SSJets
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt < 50e3
# # end
# # 
# # cut: ee_sr_ss__sample13.SR_SSJets.mu_pt_10
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt < 50e3
# #     additional_cut: mu_pt[0] > 10e3
# #     additional_cut: mu_pt[1] > 10e3
# # end
# # 
# # cut: ee_sr_ss__sample14.SR_SSJets.mu_pt_15
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt < 50e3
# #     additional_cut: mu_pt[0] > 15e3
# #     additional_cut: mu_pt[1] > 15e3
# # end
# # 
# # cut: ee_sr_ss__sample15.SR_SSJets.mu_pt_20
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt < 50e3
# #     additional_cut: mu_pt[0] > 20e3
# #     additional_cut: mu_pt[1] > 20e3
# # end
# # 
# # cut: ee_sr_ss__sample16.SR_SSJets.mu_pt_25
# #     pass_grl:               1
# #     pass_incomplete_event:  1
# #     pass_lar_error:         1
# #     pass_tile_error:        1
# #     pass_tile_hot_spot:     1
# #     pass_tile_trip:         1
# #     pass_bad_jets:          1
# #     pass_calo_problem_jets: 1
# #     pass_primary_vertex:    1
# #     pass_bad_muons:         1
# #     pass_cosmic_muons:      1
# #     pass_hfor:              1
# #     pass_ge_2_good_leptons: 1
# #     pass_2_good_leptons:    1
# #     pass_mll:               1
# #     pass_trigger_match:     1
# #     pass_flavor:            mm
# #     pass_ee_trigger:        0
# #     pass_mm_trigger:        1
# #     pass_em_trigger:        0
# #     pass_me_trigger:        0
# # 
# #     pass_sr_ssjets:  0
# # 
# #     pass_l_jet_veto: 0
# #     pass_b_jet_veto: 1
# #     pass_f_jet_veto: 1
# #     pass_z_veto:     0
# #     pass_top_veto:   0
# #     # pass_sr_ssjets_met:    1
# # 
# #     pass_sign_channel: ss
# # 
# #     additional_cut: light_jet_num_light_jets >= 1
# #     additional_cut: met_rel_et > 50e3
# #     additional_cut: mt < 50e3
# #     additional_cut: mu_pt[0] > 25e3
# #     additional_cut: mu_pt[1] > 25e3
# # end
# # 
# # # cut: ee_sr_ss__sample6.CR_SSjets.jet_pt25
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 0
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     0
# # #     pass_top_veto:   0
# # #     # pass_sr_ssjets_met:    1
# # # 
# # #     pass_sign_channel: ss
# # # 
# # #     additional_cut: light_jet_num_light_jets >= 1
# # #     additional_cut: met_rel_et > 50e3
# # #     additional_cut: mt > 50e3
# # #     additional_cut: light_jet_pt[0] > 25e3
# # # end
# # # 
# # # cut: ee_sr_ss__sample7.SR_SSJets.jet_pt25
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 0
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     0
# # #     pass_top_veto:   0
# # #     # pass_sr_ssjets_met:    1
# # # 
# # #     pass_sign_channel: ss
# # # 
# # #     additional_cut: light_jet_num_light_jets >= 1
# # #     additional_cut: met_rel_et > 50e3
# # #     additional_cut: mt < 50e3
# # #     additional_cut: light_jet_pt[0] > 25e3
# # # end
# # 
# # # cut: ee_sr_ssjets__it0
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  1
# # # end
# # 
# # # cut: ee_sr_ssjets__it1
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 1
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     1
# # #     pass_sr_ssjets_met:    0
# # # end
# # 
# # # cut: ee_sr_ssjets__it1a.no_l_jet_veto
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 0
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     0
# # #     pass_top_veto:   0
# # #     pass_sr_ssjets_met:    0
# # # 
# # #     pass_sign_channel: ss
# # # end
# # 
# # # cut: ee_sr_ssjets__it1b.l_jet_1
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 0
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     1
# # #     pass_sr_ssjets_met:    0
# # # 
# # #     additional_cut: light_jet_num_light_jets == 1
# # # end
# # # 
# # # cut: ee_sr_ssjets__it1c.l_jet_ge_1
# # #     pass_grl:               1
# # #     pass_incomplete_event:  1
# # #     pass_lar_error:         1
# # #     pass_tile_error:        1
# # #     pass_tile_hot_spot:     1
# # #     pass_tile_trip:         1
# # #     pass_bad_jets:          1
# # #     pass_calo_problem_jets: 1
# # #     pass_primary_vertex:    1
# # #     pass_bad_muons:         1
# # #     pass_cosmic_muons:      1
# # #     pass_hfor:              1
# # #     pass_ge_2_good_leptons: 1
# # #     pass_2_good_leptons:    1
# # #     pass_mll:               1
# # #     pass_trigger_match:     1
# # #     pass_flavor:            mm
# # #     pass_ee_trigger:        0
# # #     pass_mm_trigger:        1
# # #     pass_em_trigger:        0
# # #     pass_me_trigger:        0
# # # 
# # #     pass_sr_ssjets:  0
# # # 
# # #     pass_l_jet_veto: 0
# # #     pass_b_jet_veto: 1
# # #     pass_f_jet_veto: 1
# # #     pass_z_veto:     1
# # #     pass_sr_ssjets_met:    0
# # # 
# # #     additional_cut: light_jet_num_light_jets >= 1
# # # end
