cut_config:  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/utils/RunConfigs/EventDumps/cuts.bad_jets.config

in_tree: output
in_files:
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__0.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__10.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__11.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__12.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__13.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__14.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__15.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__16.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__17.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__18.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__19.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__1.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__20.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__21.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__22.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__23.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__24.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__25.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__26.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__27.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__28.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__29.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__2.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__30.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__31.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__32.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__33.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__34.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__35.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__36.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__37.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__38.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__39.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__3.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__40.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__41.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__42.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__43.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__44.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__45.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__46.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__47.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__48.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__49.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__4.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__50.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__51.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__52.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__53.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__5.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__6.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__7.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__8.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_31__9.root
end
