cut_config:  /afs/cern.ch/user/b/bjackson/work/private/PennSUSYFrame.00.03.06/utils/RunConfigs/EventDumps/cuts.phase_space.config

in_tree: output
in_files:
  /afs/cern.ch/user/b/bjackson/work/private/PennSUSYFrame.00.03.06/small_fake_test/SusyDiLeptonCutFlowCycle.data.ver_1.cut_flow.PeriodG.cf_challenge.2013_11_24.root
end
