cut_config:  /afs/cern.ch/user/b/bjackson/work/private/Susy_v2.00.03.04/utils/RunConfigs/EventDumps/cuts.trigger.config

in_tree: output
in_files:
  /afs/cern.ch/user/b/bjackson/work/private/Susy_v2.00.03.04/small_fake_test/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.116600.ZZ4lep.2013_10_09.root
end
