cut_config:  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/utils/RunConfigs/EventDumps/cuts.bad_jets.config

in_tree: output
in_files:
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__0.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__1.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__2.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__3.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__4.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__5.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__6.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__7.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__8.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__9.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__10.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__11.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__12.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__13.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__14.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__15.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__16.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__17.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__18.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__19.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__20.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__21.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__22.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__23.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__24.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__25.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__26.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__27.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__28.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__29.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__30.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__31.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__32.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__33.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__34.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__35.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__36.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__37.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__38.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__39.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__40.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__41.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__42.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__43.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__44.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__45.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__46.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__47.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__48.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__49.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__50.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__51.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__52.root
  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.03.04/WW_cutflow_challenge.p1512/batch_output/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126892.Sherpa_CT10_lllnu_WW.2013_07_29__53.root
end
