cut_config:  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.02.04/utils/RunConfigs/EventDumps/cuts.ge_2_leptons.config
# hist_config: /afs/cern.ch/user/b/bjackson/work/private/Susy.00.01.10/SFrame/../utils/RunConfigs/OptimizationHistograms/2013_01_22//hists.mm.sr2.config

# ptnt_file:  /afs/cern.ch/user/b/bjackson/work/private/Susy.00.01.10/SFrame/../utils/pTNTs/OptimizationHistograms/2013_01_22/mm.sr2/ptnt.nominal.mc.diboson.126893.Sherpa_CT10_lllnu_WZ.root

# mc_event_weight: 1
# pile_up_weight:  1
# trigger_weight:  1
# lepton_weight:   1
# b_tag_weight:    1
# lumi_weight:     1
# cf_weight:       0
# fake_weight:     0
# 
# target_lumi: 21000
# mc_channel:  126893

in_tree: output
in_files:
  /exports/project/data_d07_3/bjackson/Susy_output/00.02.05/SusyDiLeptonCutFlowCycle.mc.ver_1.cut_flow.126893.Sherpa_CT10_lllnu_WZ.2013_02_12.root
end
