# ------------------------------------------------------------------------------
cut: trigger_ee
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     0
    pass_ee_trigger:        1
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_flavor: ee
    pass_ee_phase: 1
end

cut: trigger_matching_ee
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     1
    pass_ee_trigger:        1
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_flavor: ee
    pass_ee_phase: 1
end

# ------------------------------------------------------------------------------
cut: trigger_mm
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        1
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_flavor: mm
    pass_mm_phase: 1
end

cut: trigger_matching_mm
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     1
    pass_ee_trigger:        0
    pass_mm_trigger:        1
    pass_em_trigger:        0
    pass_me_trigger:        0

    pass_flavor: mm
    pass_mm_phase: 1
end

# ------------------------------------------------------------------------------
cut: trigger_em
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        1
    pass_me_trigger:        0

    pass_flavor: em
    pass_em_phase: 1
end

cut: trigger_matching_em
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     1
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        1
    pass_me_trigger:        0

    pass_flavor: em
    pass_em_phase: 1
end

# ------------------------------------------------------------------------------
cut: trigger_me
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        1

    pass_flavor: em
    pass_me_phase: 1
end

cut: trigger_matching_me
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_mll:               1
    pass_2_signal_leptons:  1
    pass_trigger_match:     1
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        1

    pass_flavor: em
    pass_me_phase: 1
end

