# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_ee_phase__tau_veto__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: ee
    pass_ee_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_ee_phase__tau_veto__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: ee
    pass_ee_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_mm_phase__tau_veto__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: mm
    pass_mm_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_mm_phase__tau_veto__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: mm
    pass_mm_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_em_phase__tau_veto__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: em
    pass_em_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_em_phase__tau_veto__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: em
    pass_em_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_me_phase__tau_veto__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: me
    pass_me_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_me_phase__tau_veto__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: me
    pass_me_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_ee_phase__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: ee
    pass_ee_phase: 1
    # pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_ee_phase__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: ee
    pass_ee_phase: 1
    # pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_mm_phase__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: mm
    pass_mm_phase: 1
    # pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_mm_phase__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: mm
    pass_mm_phase: 1
    # pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_em_phase__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: em
    pass_em_phase: 1
    # pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_em_phase__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: em
    pass_em_phase: 1
    # pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_me_phase__prompt__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: me
    pass_me_phase: 1
    # pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_me_phase__prompt__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    1

    pass_flavor: me
    pass_me_phase: 1
    # pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_ee_phase__tau_veto__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: ee
    pass_ee_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_ee_phase__tau_veto__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: ee
    pass_ee_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_mm_phase__tau_veto__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: mm
    pass_mm_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_mm_phase__tau_veto__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: mm
    pass_mm_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_em_phase__tau_veto__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: em
    pass_em_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_em_phase__tau_veto__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: em
    pass_em_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


# ------------------------------------------------------------------------------
cut: prompt_leptons_sig_lep_me_phase__tau_veto__os
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: me
    pass_me_phase: 1
    pass_tau_veto: 1

    pass_sign: os
end

cut: prompt_leptons_sig_lep_me_phase__tau_veto__ss
    pass_grl:               1
    pass_incomplete_event:  1
    pass_lar_error:         1
    pass_tile_error:        1
    pass_tile_hot_spot:     1
    pass_bad_jets:          1
    pass_calo_problem_jets: 1
    pass_primary_vertex:    1
    pass_bad_muons:         1
    pass_cosmic_muons:      1
    pass_hfor:              1
    pass_ge_2_good_leptons: 1
    pass_2_good_leptons:    1
    pass_2_signal_leptons:  1
    pass_mll:               1
    pass_trigger_match:     0
    pass_ee_trigger:        0
    pass_mm_trigger:        0
    pass_em_trigger:        0
    pass_me_trigger:        0
    pass_prompt_leptons:    0

    pass_flavor: me
    pass_me_phase: 1
    pass_tau_veto: 1

    pass_sign: ss
end


